CLIENT_ID=client-id
CLIENT_SECRET=openskiapi_url
KAFKA_SERVER=127.0.0.1:9092
KAFKA_TOPIC=topic-name

S3_CLEAN_PATH=s3a://s3_folder/clean-flight-data/
S3_CLEAN_CHECKPOINT=s3a://s3_folder/checkpoints/clean/

MYSQL_HOST=hostname
MYSQL_PORT=3306
MYSQL_DATABASE=flight_tracking
MYSQL_USER=username
MYSQL_PASSWORD=password

OPENSKY_API_URL=https://opensky-network.org/api/states/all